@import "../../../static/less/base.less";

#settingModel {
  .settingContainer {
    background: #fff;
    .collection {
      border: none;
      .collection-item {
        border: none;
        padding: 0;
      }
    }
    .tabs{
      a {
        color: @base-color;
      }
      .indicator {
        background-color: @base-color;
      }
      .indicator {
        left: 0;
        right: 493px;
      }
    }

    .tabData {
      padding: 20px;
      overflow: auto;
    }

    .List {
      .listItem {
        font-size: 17px;
        padding: 5px;
        background-color: #f9f9f9;
        margin: 5px;
        i {
          margin-right: 10px;
          font-size: 14px;
          color: #C0C0C0;
          cursor: move;
        }
      }
    }
  }
}
